body {
background-image: url("blue.jpg");
}

body {
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	
}
h2 {
    text-align: center;
    font-weight: bold;
}
.navbar-brand h2 {
    margin: 0;
    max-width: 300px;
    color: #fff;
    text-align: center;
}
.header {
    margin: 0 auto;
    max-width: 1920px;
}
.navbar-header {
    background-color: #5c7274;
}





footer {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 5% 15%;
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
}
footer .nav-item{
    color: #333;
    outline: none;
    text-decoration: none;
}
footer i:hover {
    color: #ff3399;
}
.copy {
    
}
.copyright {
    color: #333;
    outline: none;
    text-decoration: underline;
}